@model MRTPlus.Models.Project

@{
    ViewBag.Title = "Create";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Create</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create Project</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm("Create", "Project", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEC)
                @Html.ValidationMessageFor(model => model.TEC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DivisionID, "DivisionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DivisionID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.DivisionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuildingID, "BuildingID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BuildingID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.BuildingID)
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { cols = 25, @rows = 5, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Justification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Justification, new { cols = 25, @rows = 5, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Justification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityTypeID, "ActivityTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ActivityTypeID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.ActivityTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FundingTypeID, "FundingTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FundingTypeID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.FundingTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost_K, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost_K)
                @Html.ValidationMessageFor(model => model.Cost_K)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NeedTypeID, "NeedTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NeedTypeID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.NeedTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BandRTypeID, "BandRTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BandRTypeID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.BandRTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IFISectionTypeID, "IFISectionTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IFISectionTypeID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.IFISectionTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DM, new { @class = "form-control" })
                <label for="check-one">
                    02
                    <input type="checkbox" name="check-one" id="check-one" value="checkone" />
                    03
                    <i></i> <span>Check One</span>
                    04
                </label>

                @Html.ValidationMessageFor(model => model.DM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusTypeID, "StatusTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusTypeID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.StatusTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CampusStrategyID, "CampusStrategyID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CampusStrategyID", null, string.Empty, new { @class = "form-control", style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.CampusStrategyID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LOBCategoryID, "LOBCategoryID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LOBCategoryID", null, string.Empty, new { @class = "form-control" , style = "width: 250px;" })
                @Html.ValidationMessageFor(model => model.LOBCategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LOBRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LOBRating)
                @Html.ValidationMessageFor(model => model.LOBRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShovelReady, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShovelReady)
                @Html.ValidationMessageFor(model => model.ShovelReady)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnrollmentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnrollmentDate)
                @Html.ValidationMessageFor(model => model.EnrollmentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BudgetYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BudgetYear)
                @Html.ValidationMessageFor(model => model.BudgetYear)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
